* {
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

:root {
    --primary-dark: #5f6c87;
    --primary: #aabadd;
    --primary-light: #d5def2;
    --dark-gray: #2b2a2a;
    --gray: #666;
    --light-gray: #eee;
    --accent-light: #77dae5;
    --accent-dark: #00c1d6;
    --error-color: red;
    --font-dark: black;
    --font-light: white;
    --padding-large: 24px;
    --padding-medium: 16px;
    --padding-small: 8px;
    --small-radius: 4px;
    --font-large: 2em;
    --font-large-small: 1.75em;
    --font-medium-large: 1.5em;
    --font-medium-small: 1.25em;
    --font-medium: 1em;
    --font-small: 0.8em;
}

button, .button-like {
    font-size: var(--font-medium);
    color: var(--font-light);
    background-color: var(--primary-dark);
    padding: var(--padding-medium);
    margin: 0px;
    outline: none;
}

button:hover, .button-like:hover {
    color: var(--font-dark);
    background-color: var(--primary-light);
  }

.error {
  color: var(--error-color);
}

.centered-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-medium);
}

img.profile {
  max-width: 30%;
  max-height: 30%;
}

img.icon {
  max-width: 40px;
  max-height: 40px;
}

.tags, .locations {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: var(--padding-medium);
}

.tag, .location {
  border-radius: var(--small-radius);
  color: var(--font-light);
  background-color: var(--accent-light);
  padding : var(--padding-medium);
}

.location {
  background-color: var(--accent-dark);
}

button.location {
  background-color: var(--primary); 
}

@media screen and (max-width: 1000px) {
  img.profile {
    max-width: 45%;
    max-height: 45%;
  }

  .tags, .locations {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
  
@media screen and (max-width: 600px) {
  img.profile {
    max-width: 60%;
    max-height: 60%;
  }

  .tags, .locations {
    grid-template-columns: 1fr 1fr;
  }
}

div.body {
  margin: var(--padding-medium) 0;
}

.modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

.modal {
  width: 50%;
  background-color: white;
  padding: var(--pading-large);
}

.left-container {
  padding: var(--padding-medium);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
}