:root {
    --font-large: 2em;
    --font-medium: 1em;
    --accent-color: #42b983;
    --pading-large: 24px;
    --pading-medium: 16px;
    --padding-small: 8px;
}

button {
    font-size: var(--font-medium);
    color: white;
    background-color: var(--accent-color);
    padding: var(--pading-medium);
    outline: none;
}

.error {
    color: red;
}